<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>10</string>
					<key>EndingLineNumber</key>
					<string>9</string>
					<key>StartingColumnNumber</key>
					<string>9</string>
					<key>StartingLineNumber</key>
					<string>9</string>
					<key>Timestamp</key>
					<string>774564911.6907049</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>newSTTT/PlayGame.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>L</string>
				<key>leading</key>
				<string>// P L A Y G A M E   S T R U C T
struct PlayGame {
    // P </string>
				<key>trailing</key>
				<string> A Y G A M E C O N S T A N T S
    let under = "_"
    let sp6 = "      "
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>8</string>
					<key>EndingLineNumber</key>
					<string>19</string>
					<key>StartingColumnNumber</key>
					<string>7</string>
					<key>StartingLineNumber</key>
					<string>19</string>
					<key>Timestamp</key>
					<string>774564923.370504</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>newSTTT/PlayGame.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string> </string>
				<key>leading</key>
				<string>    let tttAs = [[1, 2, 3], [4, 5, 6], [7, 8, 9], [1, 4, 7], [2, 5, 8], [3, 6, 9], [1, 5, 9], [3, 5, 7]]

    let</string>
				<key>trailing</key>
				<string>pMsg = [
        "*", // 0 because 0
        "Press return to continue, or Q to quit: ", // 1 Press return
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>12</string>
					<key>EndingLineNumber</key>
					<string>42</string>
					<key>StartingColumnNumber</key>
					<string>11</string>
					<key>StartingLineNumber</key>
					<string>42</string>
					<key>Timestamp</key>
					<string>774564940.954698</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>newSTTT/PlayGame.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>A</string>
				<key>leading</key>
				<string>    ] // end var pMsg

    // P L </string>
				<key>trailing</key>
				<string> Y G A M E   V A R I A B L E S

    // the super matrix (grid = 0) and the nine visible grids (1-9)
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>12</string>
					<key>EndingLineNumber</key>
					<string>63</string>
					<key>StartingColumnNumber</key>
					<string>8</string>
					<key>StartingLineNumber</key>
					<string>63</string>
					<key>Timestamp</key>
					<string>774564950.886567</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>newSTTT/PlayGame.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>func</string>
				<key>leading</key>
				<string>    // P L A Y G A M E   F U N C T I O N S
    mutating func continuePlay() -&gt; Bool {
        </string>
				<key>trailing</key>
				<string> pos(pt1: [Int]) -&gt; Int { // pos returns the index to the array game
            return pt1[0] * 9 + (pt1[1] - 1) * 3 + pt1[2] - 1
        } // end func pos(pt1: [Int]) -&gt; Int
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>166</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>165</string>
					<key>Timestamp</key>
					<string>774731275.681406</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>newSTTT/PlayGame.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>        func hasTTTinGrid(grd3: Int, tok3: String...) -&gt; Int? {
</string>
				<key>leading</key>
				<string>        } // end func displayOpeningInfo()
        
</string>
				<key>trailing</key>
				<string>            // if return == 0 there is no TTT, else the number that corresponds to which TTT (eg: row1, col3, LtoR diag, etc.)
            var tttGrid: Int?
            // tempI1 = 0
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>192</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>191</string>
					<key>Timestamp</key>
					<string>774731275.681411</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>newSTTT/PlayGame.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>        func count(grd8: Int, tok8: String...) -&gt; Int { // counts tokens in the grid
</string>
				<key>leading</key>
				<string>        } // end func hasTTTinGrid(grd3: Int, tok3: String...) -&gt; Int?
        
</string>
				<key>trailing</key>
				<string>            var c = 0
            for j in tok8 {
                for i in 0 ... 8 { // for each cell in the grid
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>204</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>203</string>
					<key>Timestamp</key>
					<string>774731275.6813999</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>newSTTT/PlayGame.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>        func isGridDraw(grd15: Int) -&gt; Bool {
</string>
				<key>leading</key>
				<string>        } // end func count
        
</string>
				<key>trailing</key>
				<string>            if count(grd8: grd15, tok8: ex, oh) == 9 {
                return true // draw
            } else { // no TTT and count = 9
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>212</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>211</string>
					<key>Timestamp</key>
					<string>774731275.681417</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>newSTTT/PlayGame.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>        func displayBigBoard() {
</string>
				<key>leading</key>
				<string>        } // end func isGridDraw(grd15) -&gt; Bool
        
</string>
				<key>trailing</key>
				<string>            print("""
                    \n\t\t\(sp7)\(game[pos(pt1: [0, 1, 1])])\(sp2)\(game[pos(pt1: [0, 1, 2])])\(sp2)\(game[pos(pt1: [0, 1, 3])])\n\t\t\(sp7)\(game[pos(pt1: [0, 2, 1])])\(sp2)\(game[pos(pt1: [0, 2, 2])])\(sp2)\(game[pos(pt1: [0, 2, 3])])\n\t\t\(sp7)\(game[pos(pt1: [0, 3, 1])])\(sp2)\(game[pos(pt1: [0, 3, 2])])\(sp2)\(game[pos(pt1: [0, 3, 3])])
            """) // end print
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>278</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>277</string>
					<key>Timestamp</key>
					<string>774731275.681422</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>newSTTT/PlayGame.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>        func isSquareTaken(grd10: Int, row10: Int, col10: Int) -&gt; Bool {
</string>
				<key>leading</key>
				<string>        } // end func meaningless
        
</string>
				<key>trailing</key>
				<string>            if game[pos(pt1: [grd10, row10, col10])] == under { // tests for under
                return false
            } else {
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>278</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>277</string>
					<key>Timestamp</key>
					<string>774731275.681426</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>newSTTT/PlayGame.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>        func isSquareTaken(grd10: Int, row10: Int, col10: Int) -&gt; Bool {
</string>
				<key>leading</key>
				<string>        } // end func meaningless
        
</string>
				<key>trailing</key>
				<string>            if game[pos(pt1: [grd10, row10, col10])] == under { // tests for under
                return false
            } else {
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>286</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>285</string>
					<key>Timestamp</key>
					<string>774731275.681367</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>newSTTT/PlayGame.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>        func proposeRandomRC(grd20: Int) {
</string>
				<key>leading</key>
				<string>        } // end func isSquareTaken(grd10: Int, row10: Int, col10: Int) -&gt; Bool
        
</string>
				<key>trailing</key>
				<string>            repeat {
                tempRC = [Int.random(in: 1 ... 3), Int.random(in: 1 ... 3)]
                tempR = tempRC[0]
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>428</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>427</string>
					<key>Timestamp</key>
					<string>774737685.28929</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>newSTTT/PlayGame.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>        func continueProposeRC() -&gt; Bool {
</string>
				<key>leading</key>
				<string>
                
</string>
				<key>trailing</key>
				<string>            // returns continueFlag
            // must set rc = tempRC on return
            
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>602</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>601</string>
					<key>Timestamp</key>
					<string>774737762.383409</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>newSTTT/PlayGame.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>        func continueProposeGrid() -&gt; Bool {
</string>
				<key>leading</key>
				<string>        } // end continueProposeRCorG() -&gt; Bool
        
</string>
				<key>trailing</key>
				<string>            // returns (continueFlag, proposeFlag)
            // must set g = tempG on return
            
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
