<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>7</string>
					<key>EndingLineNumber</key>
					<string>9</string>
					<key>StartingColumnNumber</key>
					<string>3</string>
					<key>StartingLineNumber</key>
					<string>9</string>
					<key>Timestamp</key>
					<string>774887668.869301</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>newSTTT/main.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>MAIN</string>
				<key>leading</key>
				<string>import Foundation

// </string>
				<key>trailing</key>
				<string> Test Variables, Extensions, Constants, Variables
// M A I N   T E S T   V A R I A B L E S
var test = false
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>93</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>92</string>
					<key>Timestamp</key>
					<string>775571303.268572</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>newSTTT/main.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>// MAIN STRUCTS Player, InitializeGame, PlayGame, Brain Enum
</string>
				<key>leading</key>
				<string>var continueFlag = false // continue = true; quit = false

</string>
				<key>trailing</key>
				<string>// P L A Y E R  S T R U C T
// creates variables name, type, token, gamesWon
var player1 = Player()
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>117</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>116</string>
					<key>Timestamp</key>
					<string>775571303.268551</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>newSTTT/main.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>// MAIN FUNCTIONS
</string>
				<key>leading</key>
				<string>} // end enum Brain

</string>
				<key>trailing</key>
				<string>// M A I N   F U N C T I O N S
func display(m1: String = "\t\t", m2: String = "", msg: String, trm: String = "\n") { // prints msg with new line
    print(m1 + m2 + "\(msg)", terminator: trm)
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>145</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>144</string>
					<key>Timestamp</key>
					<string>775571303.268582</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>newSTTT/main.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>// MAIN CODE
</string>
				<key>leading</key>
				<string>} // end errorOutOfRange

</string>
				<key>trailing</key>
				<string>
// display(m1: "", msg: mMsg[1]) // Hi Jack

</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>31</string>
					<key>EndingLineNumber</key>
					<string>8</string>
					<key>StartingColumnNumber</key>
					<string>22</string>
					<key>StartingLineNumber</key>
					<string>8</string>
					<key>Timestamp</key>
					<string>774888104.814888</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>newSTTT/InitializeGame.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>Constants</string>
				<key>leading</key>
				<string>// I N I T I A L I Z E G A M E   S T R U C T
struct InitializeGame {
    // INITIALIZEGAME </string>
				<key>trailing</key>
				<string>, Variables, Functions
    // I N I T I A L I Z E G A M E   C O N S T A N T S
    let human = "human"
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>280</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>279</string>
					<key>Timestamp</key>
					<string>775500270.2820899</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>newSTTT/InitializeGame.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>        // CONTINUEINITIALIZE CODE
</string>
				<key>leading</key>
				<string>        } // end displayPlayerInfo()

</string>
				<key>trailing</key>
				<string>        // C O N T I N U E I N I T I A L I Z E   C O D E  S T A R T S   H E R E
        continueFlag = true
        initLoop: repeat {
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>15</string>
					<key>EndingLineNumber</key>
					<string>9</string>
					<key>StartingColumnNumber</key>
					<string>7</string>
					<key>StartingLineNumber</key>
					<string>9</string>
					<key>Timestamp</key>
					<string>774888360.557315</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>newSTTT/PlayGame.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>PLAYGAME</string>
				<key>leading</key>
				<string>// P L A Y G A M E   S T R U C T
struct PlayGame {
    // </string>
				<key>trailing</key>
				<string> Constants, Variables, Functions
    // P L A Y G A M E C O N S T A N T S
    let under = "_"
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>1045</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>1044</string>
					<key>Timestamp</key>
					<string>776534363.538988</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>newSTTT/PlayGame.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>        // PLAYGAME CODE
</string>
				<key>leading</key>
				<string>        } // end func markBigBoardEndOfGame()

</string>
				<key>trailing</key>
				<string>        // C O N T I N U E P L A Y   C O D E   H E R E

        againLoop: repeat {
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>327</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>326</string>
					<key>Timestamp</key>
					<string>776529883.681234</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>newSTTT/PlayGame.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>        func proposeOorT(grd12: Int, tok12: String, grid: Bool) {
</string>
				<key>leading</key>
				<string>        } // end func isSquareTaken(grd10: Int, row10: Int, col10: Int) -&gt; Bool

</string>
				<key>trailing</key>
				<string>            //  Opportunity = called with token
            //  Threat = called with oppToken
            // called with both playerCurrent.oppToken and playerCurrent.token checks first for threats, then for opportunities in one call
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>513</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>512</string>
					<key>Timestamp</key>
					<string>776529883.681217</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>newSTTT/PlayGame.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>        func continueProposeGrid() -&gt; Bool {
</string>
				<key>leading</key>
				<string>        } // end func notifyProposeGrid
        
</string>
				<key>trailing</key>
				<string>            // returns (continueFlag, proposeFlag)
            // must set g = tempG on return

</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>689</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>688</string>
					<key>Timestamp</key>
					<string>776529883.681226</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>newSTTT/PlayGame.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>        func continueProposeRC() -&gt; Bool {
</string>
				<key>leading</key>
				<string>        } // end  func continueProposeGrid() -&gt; Bool

</string>
				<key>trailing</key>
				<string>            // returns continueFlag
            // set rc = tempRC on return
            
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
